<section class="c-calline">
	<div class="l-container">
		<div class="c-calline__row">
			<div class="c-calline__col">
				<div class="c-calline__label">Срок выполнения работ</div>
				<div class="c-calline__tizer">4-7 недель</div>
			</div>
			<div class="c-calline__col c-calline__col--center">
				<a href="#" class="c-btn c-calline__btn">Подать заявку</a>
			</div>
			<div class="c-calline__col c-calline__col--right">
				<div class="c-calline__right-content">
					<div class="c-calline__label">Срок выполнения работ</div>
					<a href="tel: +73433835135" class="c-tel c-calline__tel">8 (343) <strong>38 35 135</strong></a>
				</div>
			</div>
		</div>
	</div>
</section>