<footer class="c-footer">
	<div class="l-container c-footer__container">
		<div class="c-footer__row">
			<div class="c-footer__col c-footer__col--1">
				<div class="c-footer__logo">
					<img src="/images/footer-logo.png" alt="">
				</div>
			</div>
			<div class="c-footer__col c-footer__col--2">
				<div class="c-footer__label">Строительная компания «Мира»</div>
				<div class="c-footer__menu">
					<a class="c-footer__menu-item" href="/services">Наши услуги</a>
					<a class="c-footer__menu-item" href="/media">Медиа</a>
					<a class="c-footer__menu-item" href="/contacts">Контакты</a>
					<a class="c-footer__menu-item" href="/articles">Статьи</a>
					<a class="c-footer__menu-item" href="/vacancy">Вакансии</a>
				</div>                    
			</div>

			<div class="c-footer__col c-footer__col--3">
				<div class="c-footer__label">Екатеринбург, Шевелева, 7</div>
				
			</div>
		</div>
	</div>
</footer>