<footer class="c-footer">
	<div class="l-container c-footer__container">
		<div class="c-footer__row">
			<div class="c-footer__col c-footer__col--1">
				<a href="/" class="c-footer__logo">
					<img src="{{ STATIC }}/images/footer-logo.png" alt="">
				</a>
			</div>
			<div class="c-footer__col c-footer__col--2">
				<div class="c-footer__label">Строительная компания «Мира»</div>
				<div class="c-footer__menu">
					<a class="c-footer__menu-item" href="/offer">Наши услуги</a>
					<a class="c-footer__menu-item" href="/media">Медиа</a>
					<a class="c-footer__menu-item" href="/contacts">Контакты</a>
					<a class="c-footer__menu-item" href="/articles">Статьи</a>
					<a class="c-footer__menu-item" href="/vacancy">Вакансии</a>
				</div>                    
			</div>

			<div class="c-footer__col c-footer__col--3">
				<div class="c-footer__label">Екатеринбург, Шевелева 7, офис 21</div>
				<a href="tel: +73433835135" class="c-tel c-footer__tel">8 (343) <strong>38 35 135</strong></a>
				<a class="c-footer__email j-modalform" href="#">info@ck-mira.ru</a>
			</div>
		</div>
	</div>
</footer>