<header class="c-header {% if bodyClass %}c-header--{{ bodyClass }}{% endif %}">
  <div class="l-container">
    <div class="c-header__row">
      <div class="c-header__col c-header__col--logobox">
        <a href="/" class="c-header__logo">
          <img src="{{ ctx.static_path }}/images/logo.png" alt="{{ ctx.company }}">
        </a>
      </div>
      <div class="c-header__col c-header__col--menu">
        <nav class="c-header__menu">
          <a href="/services" class="c-header__menu-item">Наши Услуги</a>
          <a href="/gallery" class="c-header__menu-item">Галерея</a>
          <a href="/articles" class="c-header__menu-item">Статьи</a>
          <a href="/contacts" class="c-header__menu-item">Контакты</a>
        </nav>
      </div>
      <div class="c-header__col c-header__col--contacts">
        <div class="c-header__contacts">
          <a href="mailto: info@ck-mira.ru" class="c-header__email"><i class="c-icon c-icon--envelop"></i>info@ck-mira.ru</a>
          <a href="tel: +73433835135" class="c-header__tel">8 (343) <b>38 35 135</b></a>
        </div>
      </div>
    </div>
    <div class="c-header__bird-box">
      <div class="c-header__bird"></div>
      <div class="c-header__cloud"></div>
    </div>
  </div>
</header>
