{%- set articles = [
{
	"title": "Фундамент за 2 дня",
	"tag": "Строительство",
	"img": "article1.jpg",
	"desc": "Фундамент и цоколь больше других частей здания «ощущает на себе» влияние природных факторов. А так как мы хотим, чтобы Ваш дом стоял веками, нужно тщательно подготовить его основание к заморозкам, уберечь от промерзания, обеспечить надежную гидроизоляцию."
},
{
	"title": "Берегите тепло",
	"tag": "Отопление",
	"img": "article2.jpg",
	"desc": "Монтаж отопления и водоснабжения на строительных объектах различного назначения играет важную роль в создании полноценных систем жизнеобеспечения. Гарантией надлежащего функционирования готовых инженерных коммуникаций выступает качественное выполнение работ."
},
{
	"title": "Кровля, это одеяло дома",
	"tag": "Строительные работы",
	"img": "article3.jpg",
	"desc": "Кровля должна быть водонепроницаемой, что обеспечивается правильной конструк- цией кровли, качеством кровельных материалов, соответствовать противопожар- ным нормам, надежно отводить атмосферные воды, быть долговечной и доступной для ремонта, очистки от снега."
}]
-%}
<section class="c-section">
	<div class="l-container">
		<h2 class="c-h2">Наши статьи о строительстве</h2>
		<div class="c-articles">
		{%- for item in articles %}
			<div class="c-articles__item">
				<a href="/articles/vent" class="c-articles__title"><span>{{ item.title }}</span></a>
				<span class="c-articles__tag">{{ item.tag }}</span>
				<div class="c-articles__imgbox">
					<img src="{{ STATIC }}/uploads/{{ item.img }}" class="c-articles__img" alt="{{ item.title }}">
				</div>
				<div class="c-articles__text">{{ item.desc|safe }}</div>
			</div>
		{% endfor -%}
		</div>
	</div>
</section>

