<div class="c-steps__section">
	<h2 class="c-h2">Как мы работаем</h2>
	<div class="l-container">
		<ul class="c-steps">
			<li class="c-steps__item">
				<div class="c-steps__icon">1</div>
				<div class="c-steps__text">Мы с вами определяем <br>задачу и объем работ</div>
			</li>
			<li class="c-steps__item">
				<div class="c-steps__icon">2</div>
				<div class="c-steps__text">Составляем <br>вам предложение</div>
			</li>
			<li class="c-steps__item">
				<div class="c-steps__icon">3</div>
				<div class="c-steps__text">Согласовываем сроки <br>и планы</div>
			</li>
			<li class="c-steps__item">
				<div class="c-steps__icon">4</div>
				<div class="c-steps__text">Подписываем <br><a href="#">договор</a><br>
				<span class="c-steps__info">Скачать, 230 kb</span>
				</div>
			</li>
			<li class="c-steps__item">
				<div class="c-steps__icon">5</div>
				<div class="c-steps__text">Немедленно<br> начинаем работы!</div>
			</li>
		</ul>
		<a href="#" class="c-btn c-btn--blue j-modalform">Подать заявку</a>
	</div>
</div>