{%- set services = 
[{
	"title": "Эскизный и&nbsp;архитектурный&nbsp;проекты",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Рабочее проектирование",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Строительные работы",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Наружные сети",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Водоснабжение и канализация",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Отопление",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Вентилляция",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Электромонтажные работы",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Отделочные работы",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Благоустройство",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
},
{
	"title": "Реконструкция",
	"info": "Проектирование коттеджей и загородных домов любой сложности. При разработке проекта коттеджа определяются строительные материалы, способы возведения и инженерные коммуникации.",
	"text": "Наше архитектурное решение включает разработку планировок интерьеров помещений. Предлагаются несколько вариантов расстановки внутри и посадки на участок. На основе эскизного архитектурного проекта ведется разработка инженерных частей, ландшафтный дизайн участка.",
	"more": "Подробнее о проектировании",
	"btn": "Заказать"
}] -%}
                 
<div class="c-wtf">
	<div class="c-wtf__top">
		<div class="l-container">
			<h2 class="c-h2 c-wtf__top-title">Наши услуги:</h2>
			<div class="c-wtf__menu">
			{%- for item in services %}
			<a href="#" class="c-wtf__menu-item" data-slide="{{ loop.index-1 }}" >{{ item.title|safe }}</a>
			{% endfor -%}
			</div>
		</div>
	</div>
	<div class="c-wtf__slider">
		{%- for item in services %}
		<div class="c-wtf__slider-item">
			<div class="l-container">
				<div class="c-wtf__row">
					<div class="c-wtf__content">
						<div class="c-wtf__title">{{ item.title|safe }}</div>
						<div class="c-wtf__info">{{ item.info|safe }}</div>
						<div class="c-wtf__text">{{ item.text|safe }}</div>
						<a href="#" class="c-wtf__more">{{ item.more }}</a>
					</div>
					<div class="c-wtf__control">
						<a href="#" class="c-btn c-btn--white j-modalform" data-opt="{{ loop.index }}">{{ item.btn }}</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor -%}
	</div>
	
	
</div>