 {%- set Opts = [{"title": "Эскизный и&nbsp;архитектурный&nbsp;проекты"}, {"title": "Рабочее проектирование"}, {"title": "Строительные работы"}, {"title": "Наружные сети"}, {"title": "Водоснабжение и канализация"}, {"title": "Отопление"}, {"title": "Вентилляция"}, {"title": "Электромонтажные работы"}, {"title": "Отделочные работы"}, {"title": "Благоустройство"}, {"title": "Реконструкция"}] -%}
<!-- modal form  -->
<div style="display: none">
    <div class="c-modal" id="miraModalForm">
        <div class="c-modal__close" onclick="$.arcticmodal('close')"></div>
        <div class="c-modal__content">
            <form class="c-modal-form c-form u-mb20" action="#">
                <div class="l-row u-mb30">
                    <div class="l-col">
                        <img class="u-mb10" src="{{ STATIC }}/images/gallery-logo.png" alt="">
                        <h2 class="c-h2 u-mb10">Заказ услуги</h2>
                        <select id="miraModalFormServices" name="service" class="c-form__control">
                            <option>Выберите услугу</option>
                            {%- for opt in Opts  %}
                             <option value="{{ loop.index }}">{{ opt.title|safe }}</option> 
                            {%- endfor %}
                        </select>
                    </div>
                </div>
                <div class="l-row u-mb10">
                    <div class="l-col">
                        <input type="text" name="name" required class="c-form__control u-mb20" placeholder="Пожалуйста, представьтесь">
                        <div class="l-row">
                            <div class="l-col">
                                <input type="tel" name="tel" required class="c-form__control" placeholder="Ваш телефон">
                            </div>
                            <div class="l-col">
                                <input type="email" name="email" class="c-form__control" placeholder="Ваш Email">
                            </div>
                        </div>
                    </div>
                    <div class="l-col">
                        <textarea class="c-form__control c-form__control--area" name="msg" placeholder="Опишите задание (необязательно)"></textarea>
                    </div>
                </div>
                <div class="u-mb20 u-text-right">
                    <label class="c-form__file">
                        <span class="c-form__file-label">Приложить файл..</span>
                        <input type="file" class="c-form__file-input" name="file">
                    </label>
                </div>
                <div>
                    <button type="submit" class="c-btn c-btn--blue c-btn--noleft">Заказать Услугу</button>
                </div>
            </form>
            <div class="c-modal__info">Мы свяжемся с вами в самый короткий срок!</div>
        </div>
    </div>
</div>
<!-- end modal form  -->
