{%- set slider = [
{
	"img": "slider-1.jpg",
	"title": "Малоэтажное строительство <br>от идеи до результата.",
	"text": "Реализуем проекты любой стадии готовности, <br>точно в срок"
},
{
	"img": "slider-2.jpg",
	"title": "Системы вентиляции",
	"text": "Приточно-вытяжные установки <br>с рекуперацией тепла для загородного дома."
},
{
	"img": "slider-1.jpg",
	"title": "Малоэтажное строительство <br>от идеи до результата.",
	"text": "Приточно-вытяжные установки <br>с рекуперацией тепла для загородного дома."
}
] -%}

<div class="c-slider">
	{%- for item in slider %}
	<div class="c-slider__item" style="background-image: url({{ STATIC }}/uploads/{{ item.img }})">
		<div class="l-container">
			<div class="c-slider__inner">
				<div class="c-slider__inner-content">
					<div class="c-slider__title">{{ item.title|safe }}</div>
					<div class="c-slider__text">{{ item.text|safe }}</div>
				</div>
			</div>
		</div>
	</div>	
	{% endfor -%}
</div>