
{%- extends "./layouts/main.html" -%}
{%- set posts = [
{
	"title": "Приточно-вытяжные установки",
	"text": "К бытовым приточно-вытяжным установкам с рекуперацией относятся агрегаты небольших производительностей и габаритов. Они эффективно справляются с задачами вентиляции и рекупера- ции тепла из вытяжного воздуха в приточный, имеют фильтры для очистки как приточного, так и удаляемого воздуха.",
	"img": "post1.jpg"
},
{
	"title": "Вентиляция дома из клееного бруса",
	"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
	"img": "post2.jpg"
},
{
	"title": "Зачем прятать систему вентиляции в интерьере? Так даже лучше!",
	"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
	"img": "post3.jpg"
},{
	"title": "Приточно-вытяжные установки",
	"text": "К бытовым приточно-вытяжным установкам с рекуперацией относятся агрегаты небольших производительностей и габаритов. Они эффективно справляются с задачами вентиляции и рекупера- ции тепла из вытяжного воздуха в приточный, имеют фильтры для очистки как приточного, так и удаляемого воздуха.",
	"img": "post1.jpg"
},
{
	"title": "Вентиляция дома из клееного бруса",
	"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
	"img": "post2.jpg"
},
{
	"title": "Зачем прятать систему вентиляции в интерьере? Так даже лучше!",
	"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
	"img": "post3.jpg"
}
] -%}

{%- block content -%}
<div class="l-inner">
	<ul class="c-bradcrumbs">
		<li class="c-bradcrumbs__item"><a href="/articles">Статьи о нашей работе</a></li>
	</ul>
	<h1 class="c-h2">Вентиляция</h1>
	<div class="c-posts__list c-posts__list--ismosaic">
	{%- for post in posts %}
		<div class="c-posts__item">
			<a class="c-posts" href="/articles/vent/{{ loop.index }}">
				<div class="c-posts__title">{{ post.title }}</div>
				<div class="c-posts__imgbox">
					<img class="c-posts__img" src="{{ STATIC }}/uploads/{{ post.img }}" alt="">
				</div>
				<div class="c-posts__text">{{ post.text|safe }}</div>
			</a>
		</div>
	{% endfor -%}
	</div>
	<div class="c-posts__loadmore-container">
		<a href="#" class="c-posts__loadmore">Загрузить еще</a>
	</div>
</div>
{% include "components/calline.html" %}
{% include "components/map.html" %}
{%- endblock %}
{%- block pageScripts %}
	<script src="/javascripts/articles.js"></script>
{% endblock -%}