{%- extends "./layouts/main.html" -%}
{%- set posts = [
	{
		"title": "Приточно-вытяжные установки",
		"text": "К бытовым приточно-вытяжным установкам с рекуперацией относятся агрегаты небольших производительностей и габаритов. Они эффективно справляются с задачами вентиляции и рекупера- ции тепла из вытяжного воздуха в приточный, имеют фильтры для очистки как приточного, так и удаляемого воздуха.",
		"img": "post1.jpg"
	},
	{
		"title": "Вентиляция дома из клееного бруса",
		"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
		"img": "post2.jpg"
	},
	{
		"title": "Зачем прятать систему вентиляции в интерьере? Так даже лучше!",
		"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
		"img": "post3.jpg"
	}
] -%}

{%- block content -%}
<div class="l-inner">
	<ul class="c-bradcrumbs">
		<li class="c-bradcrumbs__item"><a href="/articles">Статьи о нашей работе</a></li>
		<li class="c-bradcrumbs__item"><a href="/articles">Вентиляция</a></li>
	</ul>
	<div class="u-w700 u-mb40" itemscope itemtype="http://schema.org/Article">
		<h1 class="c-h2" itemprop="name" >Приточно-вытяжные установки <br>с рекуперацией тепла</h1>
		<article class="c-wysiwyg" itemprop="articleBody">
			<p class="u-text-larger">Для того, чтобы наладить вентиляцию в жилых комнатах и при этом снизить эксплуатационные расходы мы устанавливаем систему с рекуперацией тепла, которая потребляет минимум электроэнергии и способна подавать теплый воздух в помещение даже зимой.</p>
			<p>Частенько возникают ситуации, когда при строительстве или покупке готового дома в последствии мы обнаруживаем, что даже элементарные естественные вытяжные воздуховоды из с/у, ванной комнаты и кухни отсутствуют, но даже если они и есть, то все равно в комнатах ощущается затхлый воздух, посторонние запахи, сырость. </p>
			<p><img src="/uploads/2154848454841518.jpg" alt=""></p>
			
			<p>Еще не так давно владельцы деревянных домов не знали головной боли по-поводу устройства системы вентиляции (СВ) – воздухообмен происходил естественным образом через щели между венцами, негерметично установленные двери и окна. Сегодня же, с улучшением технологии строительства многие слабые места построек из бруса устраняются квалифицированными специалистами, современные окна и двери препятствуют естественному притоку воздуха внутрь дома. Получается, что частично решив вопрос с уменьшением тепловых потерь, приходится думать над устройством вентиляции дома из бруса.</p>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/nU0Fy5JXOtY" frameborder="0" allowfullscreen></iframe>
		</article>
	</div>
</div>
<section class="c-posts-related">
	<div class="l-inner">
		<h2 class="c-h2">Другие статьи о вентиляции</h2>
		<div class="c-posts__list">
		{%- for post in posts %}
			<div class="c-posts__item">
				<a class="c-posts" href="/articles/article_item">
					<div class="c-posts__title">{{ post.title }}</div>
					<div class="c-posts__imgbox">
						<img class="c-posts__img" src="/uploads/{{ post.img }}" alt="">
					</div>
					<div class="c-posts__text">{{ post.text|safe }}</div>
				</a>
			</div>
		{% endfor -%}
		</div>
	</div>
</section>

{% include "components/calline.html" %}
{% include "components/map.html" %}
{%- endblock %}
{%- block pageScripts %}{% endblock -%}