{%- set bodyClass = 'main' -%}
{%- extends "./layouts/main.html" -%}
{%- block content -%}
{% include "components/slider.html" %}
<div class="l-container u-mt30">
	<div class="l-row">
		<div class="l-col l-col--2of3">
			<div class="u-mb40" itemscope itemtype="http://schema.org/Article">
					<article class="c-wysiwyg" itemprop="articleBody">
						<p class="u-text-larger">Утепляя свое жилище, герметизируя все щели и оконные проемы, устанавливая пластиковые окна, мы в конце концов добиваемся такой герметичности, как  в подводной лодке, порой совсем забывая о том, что внутри дома придется не только жить, а еще и дышать. </p> <p>Частенько возникают ситуации, когда при строительстве или покупке готового дома в последствии мы обнаруживаем, что даже элементарные естественные вытяжные воздуховоды из с/у, ванной комнаты и кухни отсутствуют, но даже если они и есть, то все равно в комнатах ощущается затхлый воздух, посторонние запахи, сырость.</p> <p><img src="{{ STATIC }}/uploads/12123234333211121323.jpg" alt=""></p>
					
						<p>Еще не так давно владельцы деревянных домов не знали головной боли по-поводу устройства системы вентиляции (СВ) – воздухообмен происходил естественным образом через щели между венцами, негерметично установленные двери и окна. Сегодня же, с улучшением технологии строительства многие слабые места построек из бруса устраняются квалифицированными специалистами, современные окна и двери препятствуют естественному притоку воздуха внутрь дома. Получается, что частично решив вопрос с уменьшением тепловых потерь, приходится думать над устройством вентиляции дома из бруса.</p>
					</article>
				</div>
		</div>
		<div class="l-col l-col--1of3">
			<div class="l-aside">
				<div class="u-mb60">
					<a href="#" class="c-btn c-btn--blue">Заказать услугу</a>
				</div>
				<h3 class="c-h3">Порядок работы:</h3>
				<div class="c-smallsteps u-mb60">
					<div class="c-smallsteps__item">
						<div class="c-smallsteps__icon">1</div>
						<div class="c-smallsteps__text">Мы ознакамливаемся <br>с проектом</div>
					</div>
					<div class="c-smallsteps__item">
						<div class="c-smallsteps__icon">2</div>
						<div class="c-smallsteps__text">Составляем предложение, со&nbsp;сметой и сроками</div>
					</div>
					<div class="c-smallsteps__item">
						<div class="c-smallsteps__icon">3</div>
						<div class="c-smallsteps__text">Составляем и подписываем <a href="#">договор</a></div>
					</div>
					<div class="c-smallsteps__item">
						<div class="c-smallsteps__icon">4</div>
						<div class="c-smallsteps__text">Начинаем работы, <br>после предоплаты</div>
					</div>
				</div>
				<a class="c-file" href="#">Скачать типовой договор на&nbsp;проектировку и&nbsp;оснащение вентилляции <span>*doc, 215 kb</span>
				</a>
			</div>
		</div>
	</div>	
</div>
{% include "components/media_slider.html" %}
{% include "components/index_articles.html" %}
{% include "components/map.html" %}

{%- endblock %}
{%- block pageScripts %}{% endblock -%}
