{%- extends "./layouts/main.html" -%}
{%- set posts = [
	{
		"title": "Приточно-вытяжные установки",
		"text": "К бытовым приточно-вытяжным установкам с рекуперацией относятся агрегаты небольших производительностей и габаритов. Они эффективно справляются с задачами вентиляции и рекупера- ции тепла из вытяжного воздуха в приточный, имеют фильтры для очистки как приточного, так и удаляемого воздуха.",
		"img": "post1.jpg"
	},
	{
		"title": "Вентиляция дома из клееного бруса",
		"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
		"img": "post2.jpg"
	},
	{
		"title": "Зачем прятать систему вентиляции в интерьере? Так даже лучше!",
		"text": "Особенность домов из клееного бруса – это наличие естественной вентиляции, которая достигается благодаря особой структуре древесины. Естественная вентиляция обеспечивает приток свежего воздуха. Но одной естественной вентиляции недостаточно.",
		"img": "post3.jpg"
	}
] -%}

{%- block content -%}
<div class="l-inner">
	<div class="u-mb40">
		<h1 class="c-h2">Наши вакансии</h1>
		<p class="u-text-larger">Мы — молодая компания с устойчивым потенциалом роста. <br>Вместе с нашим развитием, нам иногда требуются новые специалисты:</p>
	</div>
	<div class="l-row">
		<div class="l-col l-col--1of3">
			<ul class="c-asidemenu__list">
				<li class="c-asidemenu__list-item">
					<a href="#" class="c-asidemenu c-asidemenu--active">Инженер ПТО</a>
				</li>
				<li class="c-asidemenu__list-item">
					<a href="#" class="c-asidemenu">Электромонтажник (2)</a>
				</li>
				<li class="c-asidemenu__list-item">
					<a href="#" class="c-asidemenu">Производитель работ <br> электромонтажного участка</a>
				</li>
				<li class="c-asidemenu__list-item">
					<a href="#" class="c-asidemenu">Прораб на объекты малоэтажного строительства</a>
				</li>
			</ul>
		</div>
		<div class="l-col l-col--2of3">
			<div class="u-mb40">
				<article class="c-wysiwyg">
					<h2>Инженер ПТО</h2>
					<p>Полный рабочий день <br>Работа в Офисе, объекты расположены в Екатеринбурге и СО.</p>
					<p><img src="{{ STATIC }}/uploads/1213232431212.jpg" alt=""></p>
					<ul>
						<li>Технический надзор за выполнением строительно-монтажных работ.</li>
						<li>Проверка соответствия объемов строительно-монтажных работ, а также конструкций утвержденной проектно-сметной документации, рабочим чертежам, строительным нормам и правилам, стандартам, техническим условиям, нормам охраны труда.</li>
						<li>Участие в рассмотрении и согласовании возникающих в ходе строительства изменений проектных решений, решение вопросов по замене, при необходимости, материалов, изделий, конструкций (без снижения качества строительных объектов).</li>
						<li>Техническая приемка законченных строительно-монтажных работ и объектов, оформление необходимой технической документации. Участие в работе комиссий по приемке строительных объектов и сдаче их в эксплуатацию.</li>
						<li>Учет законченных строительно-монтажных работ и подготовка необходимых данных для составления отчетности о выполнении планов строительства.</li>
						<li>Проверка сметной документации на строительство объектов, расчет стоимости, учет выполненных работ. Составление сметной документации на дополнительные работы.</li>
						<li>Проверка получаемой от заказчика сметной документации и подготовка заключений о ее качестве.</li>
						<li>Согласование с проектной организацией и заказчиком сметы, калькуляции стоимости материалов и дополнительных затрат, ведомости выполненных работ, спецификации, акты выполненных работ, процентовки.</li>
					</ul>
					<h4>Заработная плата 40000— 60000 P, по результатам собеседования</h4>
				</article>
			</div>
			<div class="l-row u-mb40">
				<div class="l-col l-col--1of3 u-mb40">
					Контактное лицо:
					<p class="u-text-larger">Шабакаев Илья</p>
				</div>
				<div class="l-col l-col--1of3 u-mb40">
					<a href="mailto: info@ck-mira.ru" class="c-link">info@ck-mira.ru</a>
					<p class="u-text-larger">8 (343) 38 35 135</p>
				</div>
				<a href="#" class="c-btn c-btn--blue">Отправить резюме</a>
			</div>
		</div>
	</div>
</div>
{%- endblock %}
{%- block pageScripts %}{% endblock -%}