.c-file {
	display: block;
	text-decoration: none;
	background: url(../images/file.png) no-repeat left top;
	min-height: image-height('../images/file.png');
	padding-left: 55px;
	.fontSizer(14, 19);

	&--pink {
		background-image: url(../images/file-pink.png);
		
	}

	span {
		color: #bdbdbd;
	}

	&:hover {
		color: darken(@blue, 10%)
	}
}