.c-posts {

	border: 1px solid #dbdbdb;

	&__list {
		margin: 0 auto;

	}

	&__imgbox {
		position: relative;
		overflow: hidden;
		background-color: #bdbdbd;

		&::before {
			padding-top: 62.5%;
			content: "";
			display: block;
			
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 340px;
		margin-bottom: 20px;
		padding: 0px 10px;
	}

	&__img {
		position: absolute;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

	&__title {
		padding: 10px;
	}

	&__text {
		padding: 10px;
		font-size: 16px;
		line-height: 22px;
	}
}