.c-posts {

	border: 1px solid #dbdbdb;

	&__list {
		margin: 0 auto;

	}
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 340px;
		margin-bottom: 20px;
		padding: 0px 10px;
	}

	&__img {
		width: 100%;
	}

	&__title {
		padding: 10px;
	}

	&__text {
		padding: 10px;
		font-size: 16px;
		line-height: 22px;
	}
}