.u-clearfix {
	.clearfix()
}

.u-mb40 {
	.remMb(40)
}

.u-mb80 {
	.remMb(80)
}
.u-mt80 {
	.remMt(80)
}

.u-mb30 {
	.remMb(30)
}

.u-mb20 {
	.remMb(30)
}

.u-mb10 {
	.remMb(10)
}

.u-green {
	color: @green;
}

.u-underline {
	border-bottom: 1px solid;
	display: inline-block;
	
}


.u-text-center {
	text-align: center;
	
}